[Desktop Entry]
Name=EssoraFM
Comment=Essora file manager
Exec=/usr/local/bin/essorafm
Icon=/usr/local/essorafm/ui/icons/essorafm.svg
Terminal=false
Type=Application
Categories=System;FileManager;Favorites;
StartupNotify=true
